<%= form_for(@tags_relation) do |f| %>
  <% if @tags_relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tags_relation.errors.count, "error") %> prohibited this tags_relation from being saved:</h2>

      <ul>
      <% @tags_relation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post_id %><br />
    <%= f.text_field :post_id %>
  </div>
  <div class="field">
    <%= f.label :tag_id %><br />
    <%= f.text_field :tag_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
