<h1>Listing tags_relations</h1>

<table>
  <tr>
    <th>Post</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tags_relations.each do |tags_relation| %>
  <tr>
    <td><%= tags_relation.post_id %></td>
    <td><%= tags_relation.tag_id %></td>
    <td><%= link_to 'Show', tags_relation %></td>
    <td><%= link_to 'Edit', edit_tags_relation_path(tags_relation) %></td>
    <td><%= link_to 'Destroy', tags_relation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tags relation', new_tags_relation_path %>
